.border-bottom {
    padding-bottom: 4px;
    border-bottom: 1px solid #efefef;
    box-shadow: 1px 1px #fcfcfc;
}
.border-bottom::after {
    content: "";
    clear: right;
}
.recruitment-guide {
    display: inline-block;
    background: url("../images/org-round.png");
    width: 16px;
    height: 16px;
}
.img-margin {
    /*
    width: 80px;
    height: 18px; */
    margin-left: 27px;
}
.text-gray-org {
    display: block;
    float: right;
}
.sec-header-p {
    margin: 29px 0;
}
#section {
    border: 3px solid #ececec;
    width: auto;
    height: auto;
    /*
    width: 663px;
    height: 437px;
    */
}