body {
    margin: 0 auto;
}
#main {
    border: 2px solid #e3e3e3;
    width: 100%;
    height: 100%;
    padding: 56px 57px 58px;
}
.border-bottom {
    padding-bottom: 4px;
    border-bottom: 1px solid #efefef;
    box-shadow: 1px 1px #fcfcfc;
}
.border-bottom::after {
    content: "";
    clear: right;
}
.recruitment-guide {
    display: inline-block;
    background: url("../images/org-round.png");
    width: 16px;
    height: 16px;
}
.img-margin {
    /*
    width: 80px;
    height: 18px; */
    margin-left: 27px;
}
.text-gray-org {
    display: block;
    float: right;
}
.sec-header-p {
    margin: 29px 0;
}
#section {
    border: 3px solid #ececec;
    /*
    width: auto;
    height: auto;
    */
    width: 663px;
    height: 437px;
    border-left: 2px solid #ececec;
    box-shadow: -1px 0 0 #f2f2f2;
    box-shadow: 1px 0 0 #f9f9f9 inset;
    padding: 35px 25px 33px 27px;
}
#section-top {
    display: inline-block;
}
#section-top::after {
    content: "";
    clear: left;
}
#section-logo-2 {
    width: 229px;
    margin-left: 20px;
    float: left;
}
.logo-2.logo-2-bottom {
    display: inline-block;
}
.logo-2 {
    margin-bottom: 19px;
}
#section-right {
    width: 307px;
    height: 241px;
    padding: 1px 54px 0 27px;
    border-left: 1px dotted #cacaca;
    float: left;
}
.section-right-1 {
    margin-bottom: 30px;
}
.section-right-2 {
    margin-bottom: 27px;
}
#org-button {
    margin: 9px 0 0 -1px;
}
#section-bottom {
    margin: 29px 25px 33px 27px;
}
.recruitment-procedure {
    padding-bottom: 12px;
    border-bottom: 1px solid #efefef;
}