* {
    font-family: "Dotum", sans-serif;
    font: 11px;
    color: #9b9b9b;
    /*
    box-sizing: border-box;
    */
}
body {
    /*
    width: 790px;
    height: 100%;
    */
    margin: 0 auto;
}
#main {
    border: 1px solid #e3e3e3;
    box-shadow: 1px 1px 1px #f1f1f1 inset;
    /*
    border-image: url("../images/main-border.png") round;
    */
    padding: 57px 57px 54px;
}
.border-bottom {
    padding-bottom: 4px;
    border-bottom: 1px solid #efefef;
    box-shadow: 1px 1px #fcfcfc;
    /*
    background: url("../images/border-bottom.png") repeat-x;
    background-position: bottom;
    */
}
.border-bottom::after {
    content: "";
    clear: right;
}
.org-round {
    display: inline-block;
    background: url("../images/org-round.png");
    width: 16px;
    height: 16px;
}
.HRM {
    display: inline-block;
    margin-left: 28px;
}
.text-grey-org-HTM {
    display: block;
    float: right;
}
.section-header-p {
    margin-top: 28px;
}
#section {
    width: 670px;
    height: 633px;
    border: 3px solid #ececec;
    box-shadow: -1px 0 0 #f2f2f2;
    box-shadow: 1px 0 0 #f9f9f9 inset;
    padding: 30px 95px 30px 30px;
    margin-top: 30px;
    position: relative;
}
.section-p-1 {
    padding-bottom: 20px;
    border-bottom: 1px dotted #cacaca;
}
.image-margin {
    display: inline-block;
    margin-right: 22px;

}
.list-1,dl,.list-2 {
    list-style-image: url("../images/ul-image.png");
    display: inline-block;
    position: absolute;
    vertical-align: middle;
}
.section-p-2 {
    padding: 20px 0;
    border-bottom: 1px dotted #cacaca;
}
.section-p-3 {
    padding: 29px 0 45px;
    border-bottom: 1px dotted #cacaca;
}
/*
.text-indent {
    
}

.p-margin-1 {
    margin-left: 91px;
}
.p-margin-2 {
    margin-left: 119px;
}
*/
.section-p-4 {
    padding-top: 30px;
}
.dt-style {
    float: left;
}
.last-p-top {
    display: inline-block;
    position: absolute;
    margin: 1px 0 24px;
}
.list-2 {
    position: relative;
    top: 41px;
    left: 20px;
}